#headMain{
    
    font-size: 40px;
    align-items: center;
    
}



  html {
    background-image: url("../images/tgbackground.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
  }
body{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin: 50px;
    background-color:rosybrown;
}


