#headMain{
    
    font-size: 60px;
    align-items: center;
    font: bold;
    font-family: cursive;
    
}

#timer{
    font-size: 30px;
    align-items: center;
    color: crimson;
    font: bold;
    font-family: cursive;
}

#timeleft{
    font-size: 40px;
    align-items: center;
    font: bold;
    font-family: cursive;
}



  html {
    background-image: url("../images/tgbackground.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
  }
body{
    font: bold;
    color: brown;
    font-size: 15px;
    font-family: cursive;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin: 50px;
    background-color:rosybrown;
}


